[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-resources = "5.10.0"
ipdb = "0.13.9"
pytest = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
faker = "*"

[requires]
python_full_version = "3.8.13"
